<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>
    <%- include('./partials/navbar') %>
    <!-- <%- JSON.stringify(blogs)  %> -->

    <% blogs.forEach(blog => { %>
        <div class="card" style="width: 18rem;">
            <img src="<%= blog.coverImage  %>" class="card-img-top">
            <div class="card-body">
              <p class="card-text"><%= blog.title %></p>
            </div>
            <div class="card-footer">
              <a href="/blog/<%= blog._id %>">Read More...</a>
            </div>
          </div>
    <% }) %>

    <%- include('./partials/script') %>
    
</body>
</html>